<div class='gallery-image' data-id='{{id}}'>
  <div class='img-box'>
    <img src='{{previewURL}}' alt='' />
    <div class='transparent-box'>
      <div class='caption'>
        <p>{{tags}}</p>
        <p class='opacity-low'>{{id}}</p>
      </div>
    </div>
  </div>
</div>